@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />

<div class="divClass">
  <span class="left"><span class ="heavy">@Html.DisplayNameFor(model => model.Name):</span> @Html.DisplayFor(model => model.Name)</span>
  <br><br>
  <span class="left"><span class ="heavy">@Html.DisplayNameFor(model => model.StylistId):</span> @Html.DisplayFor(model => model.StylistId)</span>
</div>

<br> <br> <br>

<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>