@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4><span class="heavy2">Edit this Stylist:</span> @Html.DisplayFor(model => model.Name)</h4>

<br><br>



@using (Html.BeginForm())
{
  <div class="divClass">
    @Html.HiddenFor(model => model.StylistId)
    <span class="left">@Html.LabelFor(model => model.Name)</span>
    <span class="right">@Html.EditorFor(model => model.Name)</span>
    <br>
    <br>
    <input type="submit" value="Save" class="btnDanger" />
  </div>
}

<br><br><br>

<p>@Html.ActionLink("Back to list", "Index")</p>