@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new Client</h2>


  @using (Html.BeginForm())
  {
    <div class="divClass">
      <span class="left">@Html.LabelFor(model => model.Description)</span>
      <span class="right">@Html.TextBoxFor(model => model.Description)</span>
      <br>
      <br>
      <span class="left">@Html.LabelFor(model => model.Stylist)</span>
      <span class="right">@Html.DropDownList("StylistId")</span>
      <br><br>
      <input type="submit" value="Add new client" class="btn btn-default" />
    </div>
  }


  <br> <br> <br>

  <p>@Html.ActionLink("Show all clients", "Index")</p>