@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<div class="divClass">
  <span class="left"><span class ="heavy">@Html.DisplayNameFor(model => model.Description):</span> @Html.DisplayFor(model =>
    model.Description)</span>
    <br><br>
  <span class="left"><span class ="heavy">@Html.DisplayNameFor(model => model.ClientId):</span> @Html.DisplayFor(model => model.ClientId)</span>
</div>

<br> <br> <br>

<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>

<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>